@model ASP.Models.BooksNew

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BooksNew</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="N" class="control-label"></label>
                <input asp-for="N" class="form-control" />
                <span asp-validation-for="N" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="New" /> @Html.DisplayNameFor(model => model.New)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages" class="control-label"></label>
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pressrun" class="control-label"></label>
                <input asp-for="Pressrun" class="form-control" />
                <span asp-validation-for="Pressrun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IzdId" class="control-label"></label>
                <select asp-for="Izd" class ="form-control" asp-items="ViewBag.IzdId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FormatId" class="control-label"></label>
                <select asp-for="Format" class ="form-control" asp-items="ViewBag.FormatId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ThemesId" class="control-label"></label>
                <select asp-for="Themes" class ="form-control" asp-items="ViewBag.ThemesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KategoryId" class="control-label"></label>
                <select asp-for="Kategory" class ="form-control" asp-items="ViewBag.KategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
