@model PaginatedList<BooksNew>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<form asp-action="IndexData"
      data-ajax="true"
      data-ajax-update="#Tabledata"
      data-ajax-method="GET">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value=@ViewData["CurrentFilter"] />

            Records Per Page: <input type="number" name="RecordsPerPage" value=@TempData.Peek("RecordsPerPage") />
            <input type="submit" value="Search Or SetPageSize" class="btn btn-primary" /> |

            <a asp-action="IndexData"
               asp-route-RecordsPerPage=@TempData.Peek("RecordsPerPage")
               data-ajax="true"
               data-ajax-update="#Tabledata"
               data-ajax-method="GET">
                Back to Full List
            </a>
        </p>
    </div>

    <table class="table" id="Tabledata">
        @{
            await Html.RenderPartialAsync("IndexData", Model);
        }
    </table>
</form>

@section scripts {
    <script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
}
