@page "{id?}"
@model ASP.Pages.EditModel

<h4>BooksNew</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BooksNew.N" />
            <div class="form-group">
                <label asp-for="BooksNew.Code" class="control-label"></label>
                <input asp-for="BooksNew.Code" class="form-control" />
                <span asp-validation-for="BooksNew.Code" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BooksNew.New" /> @Html.DisplayNameFor(model => model.BooksNew.New)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BooksNew.Name" class="control-label"></label>
                <input asp-for="BooksNew.Name" class="form-control" />
                <span asp-validation-for="BooksNew.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BooksNew.Price" class="control-label"></label>
                <input asp-for="BooksNew.Price" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BooksNew.Pages" class="control-label"></label>
                <input asp-for="BooksNew.Pages" class="form-control" />
                <span asp-validation-for="BooksNew.Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BooksNew.Date" class="control-label"></label>
                <input asp-for="BooksNew.Date" type="date" class="form-control" />
                <span asp-validation-for="BooksNew.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BooksNew.Pressrun" class="control-label"></label>
                <input asp-for="BooksNew.Pressrun" class="form-control" />
                <span asp-validation-for="BooksNew.Pressrun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BooksNew.IzdId" class="control-label"></label>
                <select asp-for="BooksNew.IzdId" class="form-control" asp-items="ViewBag.IzdId"></select>
                <span asp-validation-for="BooksNew.IzdId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BooksNew.FormatId" class="control-label"></label>
                <select asp-for="BooksNew.FormatId" class="form-control" asp-items="ViewBag.FormatId"></select>
                <span asp-validation-for="BooksNew.FormatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BooksNew.ThemesId" class="control-label"></label>
                <select asp-for="BooksNew.ThemesId" class="form-control" asp-items="ViewBag.ThemesId"></select>
                <span asp-validation-for="BooksNew.ThemesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BooksNew.KategoryId" class="control-label"></label>
                <select asp-for="BooksNew.KategoryId" class="form-control" asp-items="ViewBag.KategoryId"></select>
                <span asp-validation-for="BooksNew.KategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" asp-route-id="@Model.BooksNew?.N" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
